[*.cs]

# CS0168: Variable is declared but never used
dotnet_diagnostic.CS0168.severity = silent

# CS0618: Type or member is obsolete
dotnet_diagnostic.CS0618.severity = silent

# CS0649: Field 'DivinityBaseModData.fileName' is never assigned to, and will always have its default value null
dotnet_diagnostic.CS0649.severity = silent
