<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdonisUI" version="1.12.1" targetFramework="net472" />
  <package id="AdonisUI.ClassicTheme" version="1.12.1" targetFramework="net472" />
  <package id="AlphaFS" version="2.2.6" targetFramework="net472" />
  <package id="Autoupdater.NET.Official" version="1.5.8" targetFramework="net472" />
  <package id="DynamicData" version="6.14.1" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="3.7.0" targetFramework="net472" />
  <package id="gong-wpf-dragdrop" version="2.2.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="Ookii.Dialogs.Wpf" version="1.1.0" targetFramework="net472" />
  <package id="ReactiveUI" version="11.0.1" targetFramework="net472" />
  <package id="ReactiveUI.WPF" version="11.0.1" targetFramework="net472" />
  <package id="SharpCompress" version="0.24.0" targetFramework="net472" />
  <package id="Splat" version="9.3.1" targetFramework="net472" />
  <package id="Splat.Drawing" version="9.3.1" targetFramework="net472" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Reactive" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="WpfAutoGrid" version="1.4.0.0" targetFramework="net472" />
</packages>